*~
*.o
*.a
*.cmo
*.cmi
*.cmx
*.cmxa

# Deps
lib/seq
lib/ocaml-seq
lib/ocaml_bio
lib/ocaml-bio

# Binaries
lib/base/paramugsy
lib/m_translate/m_translate
lib/mugsy/mugsy_mugsy
lib/nucmer/mugsy_nucmer
lib/profiles/mugsy_profiles

# Intermediates
._d/
._ncdi/
.d
