*~
*.o
*.a
*.cma
*.cmo
*.cmi
*.cmx
*.cmxa

# Deps
lib/seq
lib/ocaml-seq
lib/ocaml_bio
lib/ocaml-bio

# Binaries
lib/base/paramugsy
lib/m_translate/m_translate
lib/mugsy/mugsy_mugsy
lib/nucmer/mugsy_nucmer
lib/profiles/mugsy_profiles
lib/mafclean/mafclean
lib/mafclean/mafclean.byte
lib/mafdefrag/mafdefrag
lib/mafdefrag/mafdefrag.byte

# Intermediates
._d/
._ncdi/
._bcdi/
.d
